* text=auto !eol
bin/esc-generator.neon -text
bin/esc-generator.php -text
/build.xml -text
/composer.json -text
/composer.lock -text
etc/composer.json -text
etc/esc/AbstractCompleteStreamWrapper.php -text
etc/esc/DecoratingTrait.php -text
etc/esc/ICompleteStreamWrapper.php -text
etc/esc/IhasTraitDecorating.php -text
