* text=auto !eol
ExtensibleSystemClasses/ArgumentCountError.php -text
ExtensibleSystemClasses/ArithmeticError.php -text
ExtensibleSystemClasses/ClosedGeneratorException.php -text
ExtensibleSystemClasses/DecoratingTrait.php -text
ExtensibleSystemClasses/DivisionByZeroError.php -text
ExtensibleSystemClasses/Error.php -text
ExtensibleSystemClasses/ErrorException.php -text
ExtensibleSystemClasses/Exception.php -text
ExtensibleSystemClasses/IArgumentCountError.php -text
ExtensibleSystemClasses/IArithmeticError.php -text
ExtensibleSystemClasses/IClosedGeneratorException.php -text
ExtensibleSystemClasses/IDivisionByZeroError.php -text
ExtensibleSystemClasses/IError.php -text
ExtensibleSystemClasses/IErrorException.php -text
ExtensibleSystemClasses/IException.php -text
ExtensibleSystemClasses/IParseError.php -text
ExtensibleSystemClasses/ITypeError.php -text
ExtensibleSystemClasses/IhasTraitDecorating.php -text
ExtensibleSystemClasses/IstdClass.php -text
ExtensibleSystemClasses/PDO/IPDO.php -text
ExtensibleSystemClasses/PDO/IPDOException.php -text
ExtensibleSystemClasses/PDO/IPDOStatement.php -text
ExtensibleSystemClasses/PDO/PDO.php -text
ExtensibleSystemClasses/PDO/PDOException.php -text
ExtensibleSystemClasses/PDO/PDOStatement.php -text
ExtensibleSystemClasses/ParseError.php -text
ExtensibleSystemClasses/Phar/IPhar.php -text
ExtensibleSystemClasses/Phar/IPharData.php -text
ExtensibleSystemClasses/Phar/IPharException.php -text
ExtensibleSystemClasses/Phar/IPharFileInfo.php -text
ExtensibleSystemClasses/Phar/Phar.php -text
ExtensibleSystemClasses/Phar/PharData.php -text
ExtensibleSystemClasses/Phar/PharException.php -text
ExtensibleSystemClasses/Phar/PharFileInfo.php -text
ExtensibleSystemClasses/Reflection/IReflection.php -text
ExtensibleSystemClasses/Reflection/IReflectionClass.php -text
ExtensibleSystemClasses/Reflection/IReflectionClassConstant.php -text
ExtensibleSystemClasses/Reflection/IReflectionException.php -text
ExtensibleSystemClasses/Reflection/IReflectionExtension.php -text
ExtensibleSystemClasses/Reflection/IReflectionFunction.php -text
ExtensibleSystemClasses/Reflection/IReflectionFunctionAbstract.php -text
ExtensibleSystemClasses/Reflection/IReflectionGenerator.php -text
ExtensibleSystemClasses/Reflection/IReflectionMethod.php -text
ExtensibleSystemClasses/Reflection/IReflectionNamedType.php -text
ExtensibleSystemClasses/Reflection/IReflectionObject.php -text
ExtensibleSystemClasses/Reflection/IReflectionParameter.php -text
ExtensibleSystemClasses/Reflection/IReflectionProperty.php -text
ExtensibleSystemClasses/Reflection/IReflectionType.php -text
ExtensibleSystemClasses/Reflection/IReflectionZendExtension.php -text
ExtensibleSystemClasses/Reflection/Reflection.php -text
ExtensibleSystemClasses/Reflection/ReflectionClass.php -text
ExtensibleSystemClasses/Reflection/ReflectionClassConstant.php -text
ExtensibleSystemClasses/Reflection/ReflectionException.php -text
ExtensibleSystemClasses/Reflection/ReflectionExtension.php -text
ExtensibleSystemClasses/Reflection/ReflectionFunction.php -text
ExtensibleSystemClasses/Reflection/ReflectionFunctionAbstract.php -text
ExtensibleSystemClasses/Reflection/ReflectionGenerator.php -text
ExtensibleSystemClasses/Reflection/ReflectionMethod.php -text
ExtensibleSystemClasses/Reflection/ReflectionNamedType.php -text
ExtensibleSystemClasses/Reflection/ReflectionObject.php -text
ExtensibleSystemClasses/Reflection/ReflectionParameter.php -text
ExtensibleSystemClasses/Reflection/ReflectionProperty.php -text
ExtensibleSystemClasses/Reflection/ReflectionType.php -text
ExtensibleSystemClasses/Reflection/ReflectionZendExtension.php -text
ExtensibleSystemClasses/SPL/AppendIterator.php -text
ExtensibleSystemClasses/SPL/ArrayIterator.php -text
ExtensibleSystemClasses/SPL/ArrayObject.php -text
ExtensibleSystemClasses/SPL/BadFunctionCallException.php -text
ExtensibleSystemClasses/SPL/BadMethodCallException.php -text
ExtensibleSystemClasses/SPL/CachingIterator.php -text
ExtensibleSystemClasses/SPL/CallbackFilterIterator.php -text
ExtensibleSystemClasses/SPL/DirectoryIterator.php -text
ExtensibleSystemClasses/SPL/DomainException.php -text
ExtensibleSystemClasses/SPL/EmptyIterator.php -text
ExtensibleSystemClasses/SPL/FilesystemIterator.php -text
ExtensibleSystemClasses/SPL/FilterIterator.php -text
ExtensibleSystemClasses/SPL/GlobIterator.php -text
ExtensibleSystemClasses/SPL/IAppendIterator.php -text
ExtensibleSystemClasses/SPL/IArrayIterator.php -text
ExtensibleSystemClasses/SPL/IArrayObject.php -text
ExtensibleSystemClasses/SPL/IBadFunctionCallException.php -text
ExtensibleSystemClasses/SPL/IBadMethodCallException.php -text
ExtensibleSystemClasses/SPL/ICachingIterator.php -text
ExtensibleSystemClasses/SPL/ICallbackFilterIterator.php -text
ExtensibleSystemClasses/SPL/IDirectoryIterator.php -text
ExtensibleSystemClasses/SPL/IDomainException.php -text
ExtensibleSystemClasses/SPL/IEmptyIterator.php -text
ExtensibleSystemClasses/SPL/IFilesystemIterator.php -text
ExtensibleSystemClasses/SPL/IFilterIterator.php -text
ExtensibleSystemClasses/SPL/IGlobIterator.php -text
ExtensibleSystemClasses/SPL/IInfiniteIterator.php -text
ExtensibleSystemClasses/SPL/IInvalidArgumentException.php -text
ExtensibleSystemClasses/SPL/IIteratorIterator.php -text
ExtensibleSystemClasses/SPL/ILengthException.php -text
ExtensibleSystemClasses/SPL/ILimitIterator.php -text
ExtensibleSystemClasses/SPL/ILogicException.php -text
ExtensibleSystemClasses/SPL/IMultipleIterator.php -text
ExtensibleSystemClasses/SPL/INoRewindIterator.php -text
ExtensibleSystemClasses/SPL/IOutOfBoundsException.php -text
ExtensibleSystemClasses/SPL/IOutOfRangeException.php -text
ExtensibleSystemClasses/SPL/IOverflowException.php -text
ExtensibleSystemClasses/SPL/IParentIterator.php -text
ExtensibleSystemClasses/SPL/IRangeException.php -text
ExtensibleSystemClasses/SPL/IRecursiveArrayIterator.php -text
ExtensibleSystemClasses/SPL/IRecursiveCachingIterator.php -text
ExtensibleSystemClasses/SPL/IRecursiveCallbackFilterIterator.php -text
ExtensibleSystemClasses/SPL/IRecursiveDirectoryIterator.php -text
ExtensibleSystemClasses/SPL/IRecursiveFilterIterator.php -text
ExtensibleSystemClasses/SPL/IRecursiveIteratorIterator.php -text
ExtensibleSystemClasses/SPL/IRecursiveRegexIterator.php -text
ExtensibleSystemClasses/SPL/IRecursiveTreeIterator.php -text
ExtensibleSystemClasses/SPL/IRegexIterator.php -text
ExtensibleSystemClasses/SPL/IRuntimeException.php -text
ExtensibleSystemClasses/SPL/ISplDoublyLinkedList.php -text
ExtensibleSystemClasses/SPL/ISplFileInfo.php -text
ExtensibleSystemClasses/SPL/ISplFileObject.php -text
ExtensibleSystemClasses/SPL/ISplFixedArray.php -text
ExtensibleSystemClasses/SPL/ISplHeap.php -text
ExtensibleSystemClasses/SPL/ISplMaxHeap.php -text
ExtensibleSystemClasses/SPL/ISplMinHeap.php -text
ExtensibleSystemClasses/SPL/ISplObjectStorage.php -text
ExtensibleSystemClasses/SPL/ISplPriorityQueue.php -text
ExtensibleSystemClasses/SPL/ISplQueue.php -text
ExtensibleSystemClasses/SPL/ISplStack.php -text
ExtensibleSystemClasses/SPL/ISplTempFileObject.php -text
ExtensibleSystemClasses/SPL/IUnderflowException.php -text
ExtensibleSystemClasses/SPL/IUnexpectedValueException.php -text
ExtensibleSystemClasses/SPL/InfiniteIterator.php -text
ExtensibleSystemClasses/SPL/InvalidArgumentException.php -text
ExtensibleSystemClasses/SPL/IteratorIterator.php -text
ExtensibleSystemClasses/SPL/LengthException.php -text
ExtensibleSystemClasses/SPL/LimitIterator.php -text
ExtensibleSystemClasses/SPL/LogicException.php -text
ExtensibleSystemClasses/SPL/MultipleIterator.php -text
ExtensibleSystemClasses/SPL/NoRewindIterator.php -text
ExtensibleSystemClasses/SPL/OutOfBoundsException.php -text
ExtensibleSystemClasses/SPL/OutOfRangeException.php -text
ExtensibleSystemClasses/SPL/OverflowException.php -text
ExtensibleSystemClasses/SPL/ParentIterator.php -text
ExtensibleSystemClasses/SPL/RangeException.php -text
ExtensibleSystemClasses/SPL/RecursiveArrayIterator.php -text
ExtensibleSystemClasses/SPL/RecursiveCachingIterator.php -text
ExtensibleSystemClasses/SPL/RecursiveCallbackFilterIterator.php -text
ExtensibleSystemClasses/SPL/RecursiveDirectoryIterator.php -text
ExtensibleSystemClasses/SPL/RecursiveFilterIterator.php -text
ExtensibleSystemClasses/SPL/RecursiveIteratorIterator.php -text
ExtensibleSystemClasses/SPL/RecursiveRegexIterator.php -text
ExtensibleSystemClasses/SPL/RecursiveTreeIterator.php -text
ExtensibleSystemClasses/SPL/RegexIterator.php -text
ExtensibleSystemClasses/SPL/RuntimeException.php -text
ExtensibleSystemClasses/SPL/SplDoublyLinkedList.php -text
ExtensibleSystemClasses/SPL/SplFileInfo.php -text
ExtensibleSystemClasses/SPL/SplFileObject.php -text
ExtensibleSystemClasses/SPL/SplFixedArray.php -text
ExtensibleSystemClasses/SPL/SplHeap.php -text
ExtensibleSystemClasses/SPL/SplMaxHeap.php -text
ExtensibleSystemClasses/SPL/SplMinHeap.php -text
ExtensibleSystemClasses/SPL/SplObjectStorage.php -text
ExtensibleSystemClasses/SPL/SplPriorityQueue.php -text
ExtensibleSystemClasses/SPL/SplQueue.php -text
ExtensibleSystemClasses/SPL/SplStack.php -text
ExtensibleSystemClasses/SPL/SplTempFileObject.php -text
ExtensibleSystemClasses/SPL/UnderflowException.php -text
ExtensibleSystemClasses/SPL/UnexpectedValueException.php -text
ExtensibleSystemClasses/SimpleXML/ISimpleXMLElement.php -text
ExtensibleSystemClasses/SimpleXML/ISimpleXMLIterator.php -text
ExtensibleSystemClasses/SimpleXML/SimpleXMLElement.php -text
ExtensibleSystemClasses/SimpleXML/SimpleXMLIterator.php -text
ExtensibleSystemClasses/TypeError.php -text
ExtensibleSystemClasses/curl/CURLFile.php -text
ExtensibleSystemClasses/curl/ICURLFile.php -text
ExtensibleSystemClasses/date/DateInterval.php -text
ExtensibleSystemClasses/date/DatePeriod.php -text
ExtensibleSystemClasses/date/DateTime.php -text
ExtensibleSystemClasses/date/DateTimeImmutable.php -text
ExtensibleSystemClasses/date/DateTimeZone.php -text
ExtensibleSystemClasses/date/IDateInterval.php -text
ExtensibleSystemClasses/date/IDatePeriod.php -text
ExtensibleSystemClasses/date/IDateTime.php -text
ExtensibleSystemClasses/date/IDateTimeImmutable.php -text
ExtensibleSystemClasses/date/IDateTimeZone.php -text
ExtensibleSystemClasses/dom/DOMAttr.php -text
ExtensibleSystemClasses/dom/DOMCdataSection.php -text
ExtensibleSystemClasses/dom/DOMCharacterData.php -text
ExtensibleSystemClasses/dom/DOMComment.php -text
ExtensibleSystemClasses/dom/DOMConfiguration.php -text
ExtensibleSystemClasses/dom/DOMDocument.php -text
ExtensibleSystemClasses/dom/DOMDocumentFragment.php -text
ExtensibleSystemClasses/dom/DOMDocumentType.php -text
ExtensibleSystemClasses/dom/DOMDomError.php -text
ExtensibleSystemClasses/dom/DOMElement.php -text
ExtensibleSystemClasses/dom/DOMEntity.php -text
ExtensibleSystemClasses/dom/DOMEntityReference.php -text
ExtensibleSystemClasses/dom/DOMErrorHandler.php -text
ExtensibleSystemClasses/dom/DOMImplementation.php -text
ExtensibleSystemClasses/dom/DOMImplementationList.php -text
ExtensibleSystemClasses/dom/DOMImplementationSource.php -text
ExtensibleSystemClasses/dom/DOMLocator.php -text
ExtensibleSystemClasses/dom/DOMNameList.php -text
ExtensibleSystemClasses/dom/DOMNameSpaceNode.php -text
ExtensibleSystemClasses/dom/DOMNamedNodeMap.php -text
ExtensibleSystemClasses/dom/DOMNode.php -text
ExtensibleSystemClasses/dom/DOMNodeList.php -text
ExtensibleSystemClasses/dom/DOMNotation.php -text
ExtensibleSystemClasses/dom/DOMProcessingInstruction.php -text
ExtensibleSystemClasses/dom/DOMStringExtend.php -text
ExtensibleSystemClasses/dom/DOMStringList.php -text
ExtensibleSystemClasses/dom/DOMText.php -text
ExtensibleSystemClasses/dom/DOMTypeinfo.php -text
ExtensibleSystemClasses/dom/DOMUserDataHandler.php -text
ExtensibleSystemClasses/dom/DOMXPath.php -text
ExtensibleSystemClasses/dom/IDOMAttr.php -text
ExtensibleSystemClasses/dom/IDOMCdataSection.php -text
ExtensibleSystemClasses/dom/IDOMCharacterData.php -text
ExtensibleSystemClasses/dom/IDOMComment.php -text
ExtensibleSystemClasses/dom/IDOMConfiguration.php -text
ExtensibleSystemClasses/dom/IDOMDocument.php -text
ExtensibleSystemClasses/dom/IDOMDocumentFragment.php -text
ExtensibleSystemClasses/dom/IDOMDocumentType.php -text
ExtensibleSystemClasses/dom/IDOMDomError.php -text
ExtensibleSystemClasses/dom/IDOMElement.php -text
ExtensibleSystemClasses/dom/IDOMEntity.php -text
ExtensibleSystemClasses/dom/IDOMEntityReference.php -text
ExtensibleSystemClasses/dom/IDOMErrorHandler.php -text
ExtensibleSystemClasses/dom/IDOMImplementation.php -text
ExtensibleSystemClasses/dom/IDOMImplementationList.php -text
ExtensibleSystemClasses/dom/IDOMImplementationSource.php -text
ExtensibleSystemClasses/dom/IDOMLocator.php -text
ExtensibleSystemClasses/dom/IDOMNameList.php -text
ExtensibleSystemClasses/dom/IDOMNameSpaceNode.php -text
ExtensibleSystemClasses/dom/IDOMNamedNodeMap.php -text
ExtensibleSystemClasses/dom/IDOMNode.php -text
ExtensibleSystemClasses/dom/IDOMNodeList.php -text
ExtensibleSystemClasses/dom/IDOMNotation.php -text
ExtensibleSystemClasses/dom/IDOMProcessingInstruction.php -text
ExtensibleSystemClasses/dom/IDOMStringExtend.php -text
ExtensibleSystemClasses/dom/IDOMStringList.php -text
ExtensibleSystemClasses/dom/IDOMText.php -text
ExtensibleSystemClasses/dom/IDOMTypeinfo.php -text
ExtensibleSystemClasses/dom/IDOMUserDataHandler.php -text
ExtensibleSystemClasses/dom/IDOMXPath.php -text
ExtensibleSystemClasses/libxml/ILibXMLError.php -text
ExtensibleSystemClasses/libxml/LibXMLError.php -text
ExtensibleSystemClasses/mysqli/Imysqli.php -text
ExtensibleSystemClasses/mysqli/Imysqli_result.php -text
ExtensibleSystemClasses/mysqli/Imysqli_stmt.php -text
ExtensibleSystemClasses/mysqli/mysqli.php -text
ExtensibleSystemClasses/mysqli/mysqli_result.php -text
ExtensibleSystemClasses/mysqli/mysqli_stmt.php -text
ExtensibleSystemClasses/pthreads/IPool.php -text
ExtensibleSystemClasses/pthreads/ISocket.php -text
ExtensibleSystemClasses/pthreads/IThread.php -text
ExtensibleSystemClasses/pthreads/IThreaded.php -text
ExtensibleSystemClasses/pthreads/IVolatile.php -text
ExtensibleSystemClasses/pthreads/IWorker.php -text
ExtensibleSystemClasses/pthreads/Pool.php -text
ExtensibleSystemClasses/pthreads/Socket.php -text
ExtensibleSystemClasses/pthreads/Thread.php -text
ExtensibleSystemClasses/pthreads/Threaded.php -text
ExtensibleSystemClasses/pthreads/Volatile.php -text
ExtensibleSystemClasses/pthreads/Worker.php -text
ExtensibleSystemClasses/session/ISessionHandler.php -text
ExtensibleSystemClasses/session/SessionHandler.php -text
ExtensibleSystemClasses/sqlite3/ISQLite3.php -text
ExtensibleSystemClasses/sqlite3/SQLite3.php -text
ExtensibleSystemClasses/standard/AssertionError.php -text
ExtensibleSystemClasses/standard/Directory.php -text
ExtensibleSystemClasses/standard/IAssertionError.php -text
ExtensibleSystemClasses/standard/IDirectory.php -text
ExtensibleSystemClasses/standard/I__PHP_Incomplete_Class.php -text
ExtensibleSystemClasses/standard/Iphp_user_filter.php -text
ExtensibleSystemClasses/standard/__PHP_Incomplete_Class.php -text
ExtensibleSystemClasses/standard/php_user_filter.php -text
ExtensibleSystemClasses/stdClass.php -text
ExtensibleSystemClasses/tidy/Itidy.php -text
ExtensibleSystemClasses/tidy/tidy.php -text
ExtensibleSystemClasses/xmlreader/IXMLReader.php -text
ExtensibleSystemClasses/xmlreader/XMLReader.php -text
ExtensibleSystemClasses/xmlwriter/IXMLWriter.php -text
ExtensibleSystemClasses/xmlwriter/XMLWriter.php -text
ExtensibleSystemClasses/zip/IZipArchive.php -text
ExtensibleSystemClasses/zip/ZipArchive.php -text
/composer.json -text
